# Entorno virtual
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Base de datos
data/
*.db
*.sqlite3

# Archivos subidos por la aplicación
static/uploads/

# Variables de entorno
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log